<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControllerPage</servlet-name>
        <servlet-class>controller.ControllerPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerMovie</servlet-name>
        <servlet-class>controller.ControllerMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerAdmin</servlet-name>
        <servlet-class>controller.ControllerAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerCategory</servlet-name>
        <servlet-class>controller.ControllerCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerType</servlet-name>
        <servlet-class>controller.ControllerType</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerPage</servlet-name>
        <url-pattern>/ControllerPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerMovie</servlet-name>
        <url-pattern>/ControllerMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerAdmin</servlet-name>
        <url-pattern>/ControllerAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerCategory</servlet-name>
        <url-pattern>/ControllerCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerType</servlet-name>
        <url-pattern>/ControllerType</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
</web-app>
